
@{
    ViewBag.Title = "JabberVideo";
}

<h2><iframe width="888" height="500" src="https://www.youtube.com/embed/GdVZ2l8o-kE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></h2>

