
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="list-header clearfix">
    <h1>Error</h1>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        <b>An unexpected error has occurred. Please contact the system administrator.</b>
    </div>
</div>

